@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900&display=swap'); 

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

html, body {
    scroll-behavior: smooth;
    width: 100%;
    margin: 0;
    padding: 0;
}

.banner {
    background: url('../img/banner.svg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    max-height: 504px;
    min-height: 300px;
    flex-shrink: 0;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 504px;
    min-height: 300px;
}

.banner-text h1 {
    color: var(--Secondary-sc_normal, #FFF);
    text-align: center;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 46px;
}

.banner-text span {
    font-size: 60px;
    font-weight: 600;
    line-height: 74px;
}

.banner-btn {
    display: inline-flex;
    height: 44px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--Primary-pr_normal, #C00);
    background: var(--Secondary-sc_normal, #FFF);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
    margin-top: 47.5px;
}

.banner-btn:hover {
    box-shadow: 3px 3px 10px rgba(40, 24, 20, 0.5); /* Memberikan bayangan yang lebih besar dengan sedikit transparansi */
    transition: box-shadow 0.3s ease-in-out;
}

.banner-btn a {
    color: #C00;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    text-decoration: none;
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 56px 98px;
}

.categories h3 {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    color: #281814;
    margin-bottom: 60px;
}

.category {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    justify-items: center;
    gap: 50px 96px;
}

.category a {
    text-decoration: none;
}

.category .category-item {
    display: flex;
    width: 284px;
    padding: 16px 32px;
    align-items: center;
    border-radius: 12px;
    background: var(--Secondary-sc_normal, #FFF);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15) inset, 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
    transition: transform .2s;
}

.category .category-item:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 10px rgba(40, 24, 20, 0.5); /* Memberikan bayangan yang lebih besar dengan sedikit transparansi */
}

.category-item img{
    height: 42px;
    margin-right: 26px;
}

.category-item h4 {
    color: var(--Text-tx_normal, #281814);
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    margin-bottom: 0;
}

.all-product {
    display: flex;
    width: 100%;
    padding: 60px 0;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    background: #F9F9F9;
}

.all-product h1 {
    color: var(--Text-tx_normal, #281814);
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    margin-bottom: 0;
}

.all-product .product-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 60px 32px;
    padding: 0 auto;
}

.product-container .product-box {
    text-decoration: none;
    width: 230px;
    border-radius: 12px;
    background: var(--Secondary-sc_normal, #FFF);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15), 0px 1px 4px rgba(0, 0, 0, 0.15);
    transition: transform .2s;
}

.product-container .product-box:hover {
    cursor: default;
    transform: scale(1.1);
    box-shadow: 3px 3px 10px rgba(40, 24, 20, 0.5); /* Memberikan bayangan yang lebih besar dengan sedikit transparansi */
}

.product-box img {
    border-radius: 12px 12px 0 0;
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.product-overlay {
    display: flex;
    padding: 12px 16px;
    gap: 24px;
    flex-direction: column;
}

.product-overlay .txt h4 {
    color: var(--Text-tx_normal, #281814);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 8px;
}

.product-overlay .txt p {
    color: var(--Text-tx_normal, #281814);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    margin-bottom: 0;
}

.product-box .pay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.btn {
    padding: 0;
}

form.btn button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background: var(--Primary-pr_normal, #C00);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 0px 8px;
    height: 28px;
    gap: 8px;
}

form.btn button:hover {
    box-shadow: 3px 3px 10px rgba(40, 24, 20, 0.5); /* Memberikan bayangan yang lebih besar dengan sedikit transparansi */
    transition: box-shadow 0.3s ease-in-out;
}


form.btn p {
    color: var(--Secondary-sc_normal, #FFF);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 0;
}

form.btn img {
    display: flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
}


button.wishlist-button {
    font-size: 28px;
    height: 28px;
    width: 28px;
    border: none;
    background-image: url('/static/img/heart.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: transparent;
}

button.wishlist-button:hover {
    background-image: url('/static/img/heartfill.png');
}

button.wishlist-added {
    background-image: url('/static/img/heartfill.png') !important;
}

button.wishlist-added:hover {
    background-image: url('/static/img/heart.png') !important;
}


.about {
    display: flex;
    width: 100%;
    padding: 16px 180px;
    margin: 80px 0;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    background: #FFF;
}

.about h1 {
    color: var(--Text-tx_normal, #281814);
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    margin-bottom: 0;
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 96px;
}

.about-text {
    width: 100%; /* Set the width of the about text container */
    padding: 31px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about-text p {
    color: var(--Text-tx_normal, #281814);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: justify;
    margin: 0;
}

.about-container span {
    font-weight: 600;
}

.about-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.about-logo img {
    height: 172px;
    width: 196px;
}

.about-logo h1 {
    color: var(--Primary-pr_normal, #C00);
    font-size: 60px;
    font-style: italic;
    font-weight: 700;
    line-height: 74px;
}

.about-logo span {
    color: var(--Text-tx_normal, #281814);
}

/* Media queries for smaller screens */
@media (max-width: 1300px) {
    .all-product .product-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .all-product .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .all-product .product-container {
        grid-template-columns: 1fr;
    }
}