@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900&display=swap'); 

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body {
    scroll-behavior: smooth;
    width: 100%;
    margin: 0;
    padding: 0;
}

.bg {
    background-color: #F9F9F9;
    display: flex;
    gap: 80px;
    padding: 80px;
    flex-direction: column;
}

.product {
    display: flex;
    flex-direction: row;
    gap: 86px;
    padding: 12px 16px;
}

.product img {
    width: 253.901px;
    height: fit-content;
    object-fit: cover;
}

.description .content {
    max-width: 458.099px;
    min-height: 380px;
}

.description .name h3{
    color: var(--Text-tx_normal, #281814);
    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 12px;
}

.description .name p{
    color: var(--Text-tx_normal, #281814);
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    margin: 0;
}

button.description-button,
button.specification-button {
    border: none; /* Remove button borders */
    background: none; /* Remove default background */
    padding: 10px 0 5px 0;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
    outline: none; /* Remove outline on focus */
}

button.description-button.active,
button.specification-button.active {
    color: red; /* Active button font color */
    border-bottom: 2px solid red; /* Red underline for active button */
}

button.description-button:not(.active):hover,
button.specification-button:not(.active):hover {
    color: grey; /* Optional: hover color for inactive buttons */
}

/* Content visibility */
#description,
#specification {
    display: none; /* Hide both sections initially */
}

#description.visible,
#specification.visible {
    display: block; /* Show the section with class 'visible' */
}

#description p {
    margin: 5px 0;
}

/* Specification span styling */
#specification p {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 5px;
    align-items: center;
    margin: 5px 0;
}

#specification p span {
    color: var(--Text-tx_normal, #281814);
    font-size: 16px;
    font-weight: 600;
}

/* Untuk browser Webkit (Chrome, Safari, Opera) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.set-order {
    margin-left: auto;
    display: flex;
    padding: 24px 36px;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    border-radius: 12px;
    background: var(--Secondary-sc_normal, #FFF);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15) inset, 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
}

.set-order {
    width: 100%;
    max-width: 361px;
    max-height: 394.8px;
}

form.add-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

form.add-form h3 {
    color: var(--Text-tx_normal, #281814);
    font-size: 28px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    padding-bottom: 8px;
    border-bottom: 0.56px solid var(--Secondary-sc_dark, #BFBFBF);
    margin: 0;
}

form.add-form .set-value p{
    color: var(--Text-tx_normal, #281814);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

.set-value span {
    font-weight: 600;
}

.set-value {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 0.56px solid var(--Secondary-sc_dark, #BFBFBF);
}

.quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity p {
    color: var(--Text-tx_normal, #281814);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

.quantity .btn {
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    background: var(--secondary-sc-normal-hover, #E6E6E6);
    padding: 5px;
}

.quantity .btn:hover {
    background: var(--secondary-sc-normal-hover, #E6E6E6);
}

.quantity .btn button {
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background: white;
    border-radius: 4px;
    cursor: pointer;
    width: 30px;
}

.quantity .btn input {
    color: var(--Text-tx_normal, #281814);
    width: 40px;
    text-align: center;
    font-size: 16px;
    border: none;
    background: none;
}

.quantity .btn:hover button {
    background: white;
}

.set-order .sub-total {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 12px;
}

.sub-total label {
    color: var(--Text-tx_normal, #281814);
    font-size: 16px;
    font-weight: 400;
}

.sub-total span {
    color: var(--Text-tx_normal, #281814);
    font-size: 16px;
    font-weight: 600;
}

.add-to-cart-btn {
    display: flex;
    width: 100%;
    margin-top: auto;
}

.add-to-cart-btn button {
    border-radius: 4px;
    background: var(--Primary-pr_normal, #C00);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    height: 44px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    color: var(--Secondary-sc_normal, #FFF);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    border: none;
}

.add-to-cart-btn button:hover {
    box-shadow: 3px 3px 10px rgba(40, 24, 20, 0.5);
}

.add-to-cart-btn a {
    border-radius: 4px;
    background: var(--Primary-pr_normal, #C00);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    height: 44px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    color: var(--Secondary-sc_normal, #FFF);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
}

.wishlist-form {
    display: flex;
    width: 100%;
    margin-top: auto;
}

button.wishlist-btn {
    border-radius: 4px;
    border: 1px solid var(--Primary-pr_normal, #C00);
    background: var(--Secondary-sc_normal, #FFF);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    height: 44px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    color: var(--Secondary-sc_normal, #C00);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
}

button.wishlist-btn:hover {
    box-shadow: 3px 3px 10px rgba(40, 24, 20, 0.5);
}

.other-product {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.other-product h1{
    color: var(--Text-tx_normal, #281814);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    margin: 0;
}

.other-product .product-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 60px 32px;
    padding: 0 auto;
}

.product-container .product-box {
    text-decoration: none;
    width: 230px;
    border-radius: 12px;
    background: var(--Secondary-sc_normal, #FFF);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15), 0px 1px 4px rgba(0, 0, 0, 0.15);
    transition: transform .2s;
}

.product-container .product-box:hover {
    cursor: default;
    transform: scale(1.1);
    box-shadow: 3px 3px 10px rgba(40, 24, 20, 0.5); /* Memberikan bayangan yang lebih besar dengan sedikit transparansi */
}

.product-box img {
    border-radius: 12px 12px 0 0;
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.product-overlay {
    display: flex;
    padding: 12px 16px;
    gap: 24px;
    flex-direction: column;
}

.product-overlay .txt h4 {
    color: var(--Text-tx_normal, #281814);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 8px;
}

.product-overlay .txt p {
    color: var(--Text-tx_normal, #281814);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    margin-bottom: 0;
}

.product-box .pay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.btn {
    padding: 0;
}

form.btn button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background: var(--Primary-pr_normal, #C00);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 0px 8px;
    height: 28px;
    gap: 8px;
}

form.btn button:hover {
    box-shadow: 3px 3px 10px rgba(40, 24, 20, 0.5); /* Memberikan bayangan yang lebih besar dengan sedikit transparansi */
    transition: box-shadow 0.3s ease-in-out;
}


form.btn p {
    color: var(--Secondary-sc_normal, #FFF);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 0;
}

form.btn img {
    display: flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
}


button.wishlist-button {
    font-size: 28px;
    height: 28px;
    width: 28px;
    border: none;
    background-image: url('/static/img/heart.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: transparent;
}

button.wishlist-button:hover {
    background-image: url('/static/img/heartfill.png');
}

button.wishlist-added {
    background-image: url('/static/img/heartfill.png') !important;
}

button.wishlist-added:hover {
    background-image: url('/static/img/heart.png') !important;
}

/* Media queries for smaller screens */
@media (max-width: 1300px) {
    .product-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .product-container {
        grid-template-columns: 1fr;
    }
}