{% extends 'base.html' %}
{% block title %}Cart{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% include 'navbar.html' %}

<div class="bg">
    <h1>Cart</h1>
    {% if items %}
    <div class="total-box">
        <div class="prod">
            {% for item in items %}
            <div class="item">
                <a href="{% url 'product_detail' item.product.id %}">
                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                </a>
                <div class="item-detail">
                    <p>{{ item.product.name }}</p>
                    <p style="font-size: 14px">{{ item.product.price }}</p>
                    <h3>${{item.get_total|floatformat:2}}</h3>
                </div>
                <div class="btn-item">
                    <button data-product="{{item.id}}" class="delete-btn updateItem" data-action="delete" ><img src="{% static 'img/trash.svg' %}" alt="del"></button>
                    <div class="item-quantity">
                        <button data-product="{{item.id}}" class="qty-btn updateItem" data-action="remove">-</button>
                        <input class="qtyInput" type="text" min="1" value="{{item.quantity}}" readonly>
                        <button data-product="{{item.id}}" class="qty-btn updateItem" data-action="add">+</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="summary">
            <h1>Shopping Summary</h1>
            <div class="summary-box">
                <div class="summary-detail">
                    <p>Total</p>
                    <p>${{ subtotal|floatformat:2 }}</p>
                </div>
                <a href="{% url 'payment' %}">
                    <button type="submit">Buy</button>
                </a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="empty-cart">
        <div class="econtent">
            <img src="{% static 'img/cart_empty.svg' %}" alt="empty-cart">
            <h1>Your Cart is Empty</h1>
            <p>Want something? Add it to your cart now!</p>
        </div>
        <a href="{% url 'index' %}#all-product">Start Shopping</a>
    </div>
    {% endif %}
    <div class="other-product">
        <h1>Let's Checkout Other Products</h1>
        <div class="product-container">
            {% for p in other_products %}
            <a href="{% url 'product_detail' p.id %}" class="product-box">
                <img src="{{p.image.url}}" alt="{{p.name}}">
                <div class="product-overlay">
                    <div class="txt">
                        <h4>{{p.name}}</h4>
                        <p>{{p.price}}</p>
                    </div>
                    <div class="pay">
                        <form method="POST" action="{% url 'add_to_cart' p.id %}" class="btn">
                            {% csrf_token %}
                            <button type="submit">
                            <p>Add to Cart</p>
                            <input type="hidden" name="quantity" value="1">
                            <img src="{% static "img/cart-white2.svg" %}" alt="cart">
                            </button>
                        </form>
                        <form method="POST" action="{% url 'add_to_wishlist' p.id %}" class="wishlist">
                            {% csrf_token %}
                            {% if request.user.is_authenticated and p in request.user.wishlist.products.all %}
                                <button type="submit" class="wishlist-button wishlist-added"></button>
                            {% else %}
                                <button type="submit" class="wishlist-button"></button>
                            {% endif %}
                        </form>                    
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% include 'footer.html' %}

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    document.addEventListener('DOMContentLoaded', function() {
        var updateBtns = document.querySelectorAll('.updateItem');
        updateBtns.forEach(function(btn) {
            btn.addEventListener('click', function() {
                var productId = this.dataset.product;
                var action = this.dataset.action;
                console.log('productId:', productId, 'action:', action);

                var user = "{{ request.user }}";
                if (user == 'AnonymousUser') {
                    console.log('Not logged in');
                    alert('You need to login first to add items to your cart.');
                } else {
                    updateUserOrder(productId, action);
                }
            });
        });
    });

    function updateUserOrder(productId, action) {
        console.log('User is logged in, sending data...');

        var url = '/updateItem/';

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({'productId': productId, 'action': action})
        })
        .then((response) => {
            return response.json();
        })
        .then((data) => {
            console.log('data:', data);
            location.reload();
        });
    }
</script>

{% endblock content %}
