{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block content %}
{% load static %}
<style>
    * {
        margin: 0;
        padding: 0;
        font-family: 'Inter', sans-serif;
        text-decoration: none;
    }
    
    .footer {
        display: inline;
        position: relative;
        width: 100%;
        height: 10%;
        justify-content: center;
        align-items: center;
        flex-shrink: 1;
        background: var(--Primary-pr_normal, #C00);
        padding-top: 2%;
    }
    
    .copyright {
        display: flex;
        width: 100%;
        height: 10%;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        gap: 0.5%;
    
        color: var(--Secondary-sc_normal, #FFF);
        text-align: center;
    
        /* Label/l18/Medium */
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
        /* 127.778% */
    }
    
    .copyright img {
        width: 1.5%;
    }
</style>

<div class="footer">
    <div class="copyright">
        <img src="{% static "img/cr.svg" %}" alt="logo">
        2024 LESHOP. All rights reserved
    </div>
</div>
{% endblock content %}