{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% include 'navbar.html' %}
<div class="banner">
    <div class="banner-text"> 
        <h1>ENJOY NEXT LEVEL OF<br><span>GAMING</span></h1>
        <div class="banner-btn">
            <a href="#all-product">EXPLORE</a>
        </div>
    </div>
</div>
<div class="categories" id="categories">
    <h3>CATEGORIES</h3>
    <div class="category">
        {% for c in categories %}
        <a href="{% url 'category' c.pk %}">
            <div class="category-item">
                {% if c.image %}
                <img src="{{c.image.url}}" alt="">
                {% else %}
                <img src="" alt="">
                {% endif %}
                <h4>{{c.name}}</h4>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
<div class="all-product" id="all-product">
    <h1>TOP PRODUCTS</h1>
    <div class="product-container">
        {% for p in products %}
        <a href="{% url 'product_detail' p.id %}" class="product-box">
            <img src="{{p.image.url}}" alt="{{p.name}}">
            <div class="product-overlay">
                <div class="txt">
                    <h4>{{p.name}}</h4>
                    <p>{{p.price}}</p>
                </div>
                <div class="pay">
                    <form method="POST" action="{% url 'add_to_cart' p.id %}" class="btn">
                        {% csrf_token %}
                        <button type="submit">
                        <p>Add to Cart</p>
                        <input type="hidden" name="quantity" value="1">
                        <img src="{% static "img/cart-white2.svg" %}" alt="cart">
                        </button>
                    </form>
                    <form method="POST" action="{% url 'add_to_wishlist' p.id %}" class="wishlist">
                        {% csrf_token %}
                        {% if request.user.is_authenticated and p in request.user.wishlist.products.all %}
                            <button type="submit" class="wishlist-button wishlist-added"></button>
                        {% else %}
                            <button type="submit" class="wishlist-button"></button>
                        {% endif %}
                    </form>                    
                </div>
            </div>
        </a>
        {% endfor %}

    </div>
</div>
<div class="about" id="about">
    <h1>ABOUT US</h1>
    <div class="about-container">
        <div class="about-logo">
            <img src="{% static 'img/logo.svg' %}" alt="logo">
            <h1>LE<span>SHOP</span></h1>
        </div>
        <div class="about-text">
            <p><span>LESHOP</span> is a trusted online game store offering games and accessories for various platforms like PC, game consoles, and mobile. We always strive to provide the latest and greatest games from different genres, ensuring a shopping experience that's easy, fast, and secure for our customers.</p>
            <p>Our friendly and professional team is ready to help you choose the right games and give useful advice. Customer security and privacy are our top priorities, and we maintain strict security standards on our website. Thank you for trusting <span>LESHOP</span> with your gaming needs.</p>
        </div>
    </div>
</div>

{% include 'footer.html' %}
{% endblock content %}