{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="header">
    <img src="{% static "img/logo.svg" %}" alt="logo">
    <h1>LE<span>SHOP</span></h1>
</div>

<div class="messages" id="popupMessage">
    {% if messages %}
        {% for message in messages %}
            <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
</div>

<div class="content">
    <div class="left">
        <img src="{% static "img/float-stick.svg" %}" alt="logo">
        <p>Tempat belanja kebutuhan game No. 1<br>di Hindia Belanda</p>
    </div>
    <div class="right">
        <form action="" method="post">
            {% csrf_token %}
            <div class="judul">
                <p>Login</p>
                <a href={% url 'register' %}>Register</a>
            </div>
            <div class="form">
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Enter your username" required>
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="button">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
</div>
<div class="footer">
    <p>© 2024 LESHOP. All rights reserved</p>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const popupMessage = document.getElementById("popupMessage");
        if (popupMessage && popupMessage.children.length > 0) {
            popupMessage.style.display = "block";
            setTimeout(function() {
                popupMessage.style.display = "none";
            }, 3000);  // Sembunyikan setelah 3 detik
        }
    });
</script>
{% endblock content %}
