{% extends 'base.html' %}
{% block title %}Product Name{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
{% include 'navbar.html' %}
<script src="{% static 'js/product_detail.js' %}"></script>
<div class="bg">
    <div class="product">
        <img src="{{product.image.url}}" alt="{{product.name}}">
        <div class="description">
            <div class="name">
                <h3>{{product.detail_name}}</h3>
                <p id="productPrice">${{product.price}}</p>
            </div>
            <div class="content">
                <button id="descriptionBtn" class="description-button active" onclick="toggleDescription(this)">Description</button>
                <button id="specificationBtn" class="specification-button" onclick="toggleSpecification(this)">Specification</button>
                <div id="description" class="visible">
                    <p>{{product.description}}</p>
                </div>
                <div id="specification" class="hidden">
                    <p>Brand: <span>{{product.brand}}</span></p>
                    <p>Year of Release: <span>{{product.year_released}}</span></p>
                    <p>Condition: <span>{{product.condition}}</span></p>
                    <p>Category: <span>{{product.category}}</span></p>
                </div>
            </div>            
        </div>

        <form action="{% url 'product_detail' product.id %}" method="post" class="set-order">
            {% csrf_token %}
            <h3>SET ORDER</h3>
            <div class="set-value">
                <div class="quantity">
                    <p>Product Quantity</p>
                    <div class="btn">
                        <button type="button" onclick="decreaseQuantity()">-</button>
                        <input type="number" name="quantity" id="quantityInput" value="1" min="1" max="{{product.stock}}" onchange="validateQuantity()">
                        <button type="button" onclick="increaseQuantity()">+</button>
                    </div>
                </div>
                <p>Stock: <span>{{product.stock}}</span></p>
            </div>            
            <div class="sub-total">
                <label for="total_price">Subtotal</label>
                <input type="hidden" name="total_price" id="total-price-input" class="total-input">
                <span id="subtotal">${{ product.price }}</span>
            </div>
            <div class="add-to-cart-btn">
                {% if user.is_authenticated %}
                    <button type="submit">Add to Cart</button>
                {% else %}
                    <a href="{% url 'login' %}">Login to Add to Cart</a>
                {% endif %}
            </div>
        </form>        
    </div>

    <div class="other-product">
        <h1>Other Products</h1>
        <div class="product-container">
            {% for p in other_products %}
            <a href="{% url 'product_detail' p.id %}" class="product-box">
                <img src="{{p.image.url}}" alt="{{p.name}}">
                <h4>{{p.name}}</h4>
                <div class="pay">
                    <p>${{p.price}}</p>
                    <div class="btn">
                        <p>Add to Cart</p>
                        <img src="{% static "img/cart-white.svg" %}" alt="cart">
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% include 'footer.html' %}
{% endblock content %}