{% extends 'base.html' %}
{% block title %}Account{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/user.css' %}">
{% include 'navbar.html' %}

<div class="container">
    <div class="option-bar">
        <div class="header">
            <img src="{% static 'img/user-default.svg' %}" alt="user">
            <div class="name">
                <p>Hello!</p>
                <h2 id="text">UserNamesssssssssssssssssss</h2>
            </div>
        </div>
        <div class="options">
            <button class="option active" id="profileBtn" onclick="toggleContent(this, 'profileContent')"><img src="{% static 'img/user-kecil.svg' %}">Profile</button>
            <button class="option" id="wishlistBtn" onclick="toggleContent(this, 'wishlistContent')"><img src="{% static 'img/heart-option.svg' %}">Wishlist</button>
            <button class="option" id="changePasswordBtn" onclick="toggleContent(this, 'changePasswordContent')"><img src="{% static 'img/gembok.svg' %}">Change Password</button>
            <button class="option" id="deleteAccountBtn" onclick="toggleContent(this, 'deleteAccountContent')"><img src="{% static 'img/trash-op.svg' %}">Delete Account</button>
            <a href="{% url 'logout' %}"><button class="option" id="logoutBtn" onclick="toggleContent(this, 'logoutContent')"><img src="{% static 'img/log.svg' %}">Logout</button></a>
        </div>
    </div>
    <div class="content">
        <div class="profile" id="profileContent">
            <div class="form">
                <h1>Profile</h1>
                <form action="" class="pform">
                    <div class="input">
                        <label for="name">Username</label>
                        <input type="text" name="name" id="name">
                    </div>
                    <div class="input">
                        <label for="name">Fullname</label>
                        <input type="text" name="username" id="username">
                    </div>
                    <div class="input">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="input">
                        <label for="phone">Phone</label>
                        <input type="text" name="phone" id="phone">
                    </div>
                    <div class="input">
                        <label for="address">Address</label>
                        <input type="text" name="address" id="address">
                    </div>
                    <button type="submit">Save</button>
                </form>
            </div>
            <form action="{% url 'edit_image' %}" method="POST" enctype="multipart/form-data" id="editForm" class="photo">
                {% csrf_token %}
                <img src="{% if user.profile.image.url and user.profile.image %}{{ user.profile.image.url }}{% else %}{% static "img/user-default-gray.svg" %}{% endif %}" alt="">
                <p id="fileName" style="display: none;"></p>
                <div class="ph-btn">
                    <img src="{% static 'img/change.svg' %}" alt="user">
                    <input type="file" name="profile_image" id="profilImage" style="display: none;">
                    <input type="button" id="editButton" value="Change Profile Picture" onclick="enableEdit()">
                    <input type="submit" id="saveButton" value="Save" style="display: none;">
                    <input type="button" id="cancelButton" value="Cancel" style="display: none;">
                </div>
            </form>
        </div>
        <div class="wishlist" id="wishlistContent" style="display: none">
            kotnsda
        </div>
        <div class="change-password" id="changePasswordContent" style="display: none;">
            sdadsadsa
        </div>
        <div class="delete-account" id="deleteAccountContent" style="display: none;">
            sdaasda
        </div>
    </div>
</div>
<script>
    var textElement = document.getElementById('text');
var maxLength = 10;

if (textElement.textContent.length > maxLength) {
    var truncatedText = textElement.textContent.substring(0, maxLength) + '...';
    textElement.textContent = truncatedText;
};

function toggleContent(button, contentId) {
    var contentDivs = document.querySelectorAll('.content > div');
    var buttons = document.querySelectorAll('.option');

    // Sembunyikan semua konten
    for (var i = 0; i < contentDivs.length; i++) {
        contentDivs[i].style.display = 'none';
    }

    // Hapus class 'active' dari semua button
    for (var i = 0; i < buttons.length; i++) {
        buttons[i].classList.remove('active');
    }

    // Tampilkan konten yang sesuai dan tambahkan class 'active' pada button yang diklik
    var contentDiv = document.getElementById(contentId);
    if (contentDiv) {
        contentDiv.style.display = 'flex'; // Mengubah display menjadi 'flex'
        button.classList.add('active');
    };
}
</script>

<script>
    function showFileName() {
        var fileInput = document.getElementById('profileImage');
        var fileNameDisplay = document.getElementById('fileName');
    
        fileNameDisplay.innerText = fileInput.files[0].name;
        fileNameDisplay.style.display = 'block';
    }

    function enableEdit() {
        var profileImageInput = document.getElementById('profileImage');
        profileImageInput.style.display = 'block';
        
        var editButton = document.getElementById('editButton');
        editButton.style.display = 'none';
        
        var saveButton = document.getElementById('saveButton');
        saveButton.style.display = 'block';
        
        var cancelButton = document.getElementById('cancelButton');
        cancelButton.style.display = 'block';
    }

    function cancelEdit() {
        var profileImageInput = document.getElementById('profileImage');
        var fileNameDisplay = document.getElementById('fileName');
    
        profileImageInput.style.display = 'none';
        fileNameDisplay.style.display = 'none';
    
        var editButton = document.getElementById('editButton');
        editButton.style.display = 'block';
    
        var saveButton = document.getElementById('saveButton');
        saveButton.style.display = 'none';
    
        var cancelButton = document.getElementById('cancelButton');
        cancelButton.style.display = 'none';
    
        // Reset input file value (optional)
        profileImageInput.value = '';
    }
</script>

{% include 'footer.html' %}
{% endblock content %}
